html, body {
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    background-color: whitesmoke;
}

body.dark-mode {
    filter: invert(100%);
  }

.content {
    margin: 0 auto;
    padding-top: 3rem;
    padding: 1rem;
    max-width: 400px;
    min-width: 300px;
}

.imgProfile {
    width: 170px;
    border-radius: 50%;
    float: right;
    box-shadow: 0 1px 4px;
}

/* .imgProfile body.dark-mode {
    filter: invert(100%);
} */

.name, .title, p {
    color: #585858;
    margin-bottom: 1.8rem;
}

.name {
    font-size: 1.7em;
    font-weight: 700;
}

.title {
    font-size: 1.2em;
    font-weight: 500;
}

.greet {
    font-size: 1em;
    color: #575555;
    font-weight: 300;
}

.about {
    font-weight: 300;
}

.about > a {
    text-decoration: none;
    color: #3a3939;
    font-weight: bold;
}

.contact {
    margin-bottom: 1.5rem;
    color: #665;
    font-weight: 500;
}

.link {
    margin-bottom: 1rem;
    text-decoration: none;
    color: #665;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}

.link > a {
    margin-left: 4rem;
    text-decoration: none;
    cursor: pointer;
}

.link > a.first{
    margin-right: 4.1rem;
}

button:active {
    filter: invert(100%);
}

@media (min-width: 800px) {
     .content {
        padding-top: 5rem;
        min-width: 700px;
        max-width: 1300px;
        height: 100%;
    }
    
    .imgProfile{
        width: 280px;
        margin: 0.2rem;
    }

    .name {
        font-size: 2.5em;
    }
    
    .title {
        font-size: 2.2em;
    }
    
    .greet {
        font-size: 1.3em;
    }
    
    .about {
        font-size: 1.3em;
    }
    
    .contact {
        font-size: 1.8em;
    }

    .link {
        font-size: 1.25rem;
    }

    .link > a.first{
        margin-right: 5.1rem;
    }
}
